.image_background{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.Game_Start{ height: 100%; width: 100%; }
img{ height: 100%; width: 100%; }

/* Page 1 Start */
.image_background.page_one {
  display: flex;
  justify-content: center;
}
img.PAGE_1_play {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
/* Page 1 end */

/* Page 2 Start */
.GETTING_STARTED {
  width: 750px;
  height: 550px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
/* Page 2 end */

/* Page 3 Start */
.image_background.page_three {
  display: flex;
  justify-content: center;
}
.Tokenomics_Custom {
  height: 100px;
  cursor: pointer;
  width: auto;
  transform: translateY(100%);
}
/* Page 3 end */

/* Page 4 Start */
.RoadMap_Custom{
  width: 500px;
  height: 120px;
  top: 30%;
  transform: translateY(-50%);
  position: absolute;
  cursor: pointer;
}
.background_four,.background_three,.background_two{
  position: absolute
}
/* Page 4 end */

/* Responsive */
@media (max-width: 1440px){
  .RoadMap_Custom{ width: 400px; height: 100px; }
  .GETTING_STARTED{ width: 600px; }
  .Tokenomics_Custom { width: 400px; height: 80px; transform: translateY(150%);}
  img.comman_header{ height: 150px;}
  li.nav-item { font-size: 20px !important; top: 5px; }
  .footer_page{font-size: 16px;}
}
@media (max-width: 1024px){
  .RoadMap_Custom{ width: 300px; height: 80px;}
  .Tokenomics_Custom { width: 300px; height: 75px; }
  .GETTING_STARTED{ width: 500px; }
  img.comman_header{ height: 100px;}
  li.nav-item { font-size: 17px !important; top: 5px; }
  .navbar-nav a{font-size: 14px; padding-top: 5px;}
  .footer_page{ font-size: 14px; }
}
@media (max-width: 767px){
  .RoadMap_Custom{ width: 250px; height: 70px;}
  .Tokenomics_Custom { width: 250px; height: 70px; }
  .GETTING_STARTED{ width: 350px; height: 500px; }
  img.PAGE_1_play { height: 400px; width: 100%; }
  img.comman_header{ height: 80px;}

  .footer_last,.footer_page,.footer_custom{
    text-align: center;
    display: block !important;
  }
}
@media (max-width: 425px){
  .RoadMap_Custom{ width: 150px; height: 50px; }
  .Tokenomics_Custom { width: 150px; height: 50px; transform: translateY(200%); }
  .GETTING_STARTED{ width: 250px; height: 400px; }
  img.PAGE_1_play { height: 50%; width: 100%; }
  img.comman_header{height: 100px;}
  .navbar-nav a{font-size: 8px;}
}


.page_three, .page_four, .page_two{
  position: relative;
}
/* HEader */
img.comman_header {
  max-width: 100%;
  /* position: fixed; */
  width: 100%;
}
.commanNavbar.comman_header {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 99;
}


/* NavBar  */
.footer_custom, .footer_page{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background: #6a6a6a;
  position: sticky;
  bottom: 0;
  padding: 5px 0;
}
.footer_last {
  display: flex;
  flex-direction: column;
}
.footer_custom a {
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
}

/* slider */
.react-multiple-carousel__arrow--left::before, .react-multiple-carousel__arrow--right::before{
  content: none !important;
} 
.react-multiple-carousel__arrow{
  background: none !important;
}

.party_hall_slider {
  position: absolute;
  bottom: 50px;
} 
button.react-multiple-carousel__arrow {
  height: 150px;
  width: 120px;
  align-items: center;
}
img.slider_image_background {
  position: absolute;
  bottom: 3px;
}
/* .image_background.page_five {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.carousel-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_slider{
  background-image: url('../src/assets/images/background_slider.png'); 
}
img.slider_image_background {
  height: 740px ;
}
.child_div {
  height: 130px;
  width: 130px;
  background: #928985;
  border: 1px solid #cdc5c5;
  border-radius: 5px;
}
.party_hall_slider.col-md-12 {
  flex: 0 0 auto;
  width: 100%;
}
.main_div {
  display: flex;
  justify-content: center;
}
li.react-multi-carousel-item.react-multi-carousel-item--active {
  opacity: 0.8;
}
.react-multi-carousel-track li.react-multi-carousel-item.react-multi-carousel-item--active > :first-child{
  opacity: 0.5 !important;
}
.container {
  display: flex;
  justify-content: center;
}
.react-multiple-carousel__arrow--left {
  left: calc(4% + 50px);
}
.react-multiple-carousel__arrow--right {
  right: calc(4% + 50px);
}
/* @media (max-width: 1500px){
  .react-multiple-carousel__arrow--left {
    left: calc(4% + 10px);
  }
  .react-multiple-carousel__arrow--right {
    right: calc(4% + 10px);
  }
} */