.party_title_container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 8vw;
    padding-right: 8vw;
}

.party_logo {
    position: relative;
    flex: 4;
    padding-left: 2vw;
    padding-right: 2vw;
}

.party_title{
    display: flex;
    flex-direction: column;
    flex: 6;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.party_sub_text {
    color: rgb(253, 250, 243);
    font-family: cursive;
    padding-left: 50px;
    font-size: 1.8vw;
}

.party_create_btn {
    margin-bottom: 10px;
    cursor: url('../images/cursor/CURSOR3.png'), auto;
}

.party_create_btn img {
    cursor: url('../images/cursor/CURSOR3.png'), auto;
}

.party_info_text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.character_container {
    margin-top: -6vw;
    display: flex;
    flex-direction: column;
}

.character_btn_group {
    margin-left: 11vw;
    margin-bottom: -4vw;
    z-index: 2;
}

.character_btn_group button {
    cursor: url('../images/cursor/CURSOR3.png'), auto;
}

.character_table {
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}

.chararcter_lists {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 60%;
}

.party_mode_container{
    overflow: auto;
}

.party_mode_container::-webkit-scrollbar {
    width: 15px;
}

.party_mode_container::-webkit-scrollbar-track {
    background-color: rgb(218, 187, 67);
}

.party_mode_container::-webkit-scrollbar-thumb {
    box-shadow: inset 8px 0px 6px rgb(246, 139, 0);
}

.party_mode_container::-webkit-scrollbar-button:single-button {
    background-color: #f3870c00;
    display: block;
    border-style: solid;
    height: 5px;
    width: 20px;
  }

.party_mode_container::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0px 8px 18px 8px;
    border-color: transparent transparent #a1a8a1 transparent;
  }
  
  .party_mode_container::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #c89e69 transparent;
  }
  /* Down */
  .party_mode_container::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: #a1a8a1 transparent transparent transparent;
  }
  
  .party_mode_container::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #c89e69 transparent transparent transparent;
  }

.party_mode_itm_list {
    display: flex;
    flex-wrap: wrap;
}

.character_itm_container {
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
    padding-top: 0;
    background: #7c56104d;
    border-bottom: 1px solid rgb(206, 206, 206);
    margin-bottom: 10px;
}

.character_itm_close{
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.character_itm_list {
    display: flex;
    min-height: 3.5vw;
    flex-wrap: wrap;    
}

.character_itm {
    min-width: 3.5vw;
    min-height: 3.5vw;
    border: 1px solid black;
    margin-right: 1vw;
}

.character_add {
    border-radius: 10px;
    border: 2px solid black;
    font-size: 1.5vw;
    cursor: url('../images/cursor/CURSOR3.png'), auto;
    padding-left: 4px;
    padding-right: 1px;
}

.character_title {
    display: flex;
    margin-bottom: 1vw;
}

.character_title_props {
    font-size: 1.2vw;
    margin-right: 3vw;
    margin-bottom: 0.5vw;
    margin-top: 1vw;
    cursor: url('../images/cursor/CURSOR3.png'), auto;
}

.character_title_gender {
    position: relative;
}

.sort_gender{
    position: absolute;
    top: 100%;
    left: 0%;
    width: 150%;
    border-radius: 8px;
    background-color: #ddb481;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.sort_classes{
    position: absolute;
    top: 100%;
    left: 0%;
    width: 150%;
    border-radius: 8px;
    background-color: #ddb481;
    padding: 10px;
    overflow: auto;
    height: 10vw
    /* display: flex; */
    /* flex-direction: column; */
}

.sort_classes::-webkit-scrollbar {
    width: 10px;
}

.sort_classes::-webkit-scrollbar-track {
    background-color: rgb(167, 118, 54);
    border-radius: 5px;
}

.sort_classes::-webkit-scrollbar-thumb {
    box-shadow: inset 8px 0px 6px rgb(66, 60, 52);
    border-radius: 5px;
}

.sort_classes ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.sort_gender_column {
    display: flex;
    justify-content: start;
    align-items: center;
}

.radio_container {
    margin-left: 3vw;
}

.party_itm {
    min-width: 3.5vw;
    min-height: 4vw;
    margin-left: 20px;
    margin-bottom: 0.6vw;
    border: 1px solid black;
}